.hero { 
    padding: 70px 0;
    background-color: #ffffff;
    background-image: url(../images/hero-bg-mob-min.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 153px 300px; 

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
      @include tablet {
        background-image: url(../images/hero-bg-tab-min.svg);
        background-size: 445px 235px;
      }
      @include desktop {
        padding: 180px 0;
        background-image:  url(../images/hero-bg-pc-min.svg);
        background-size: 773px 415px;
      }
    &__content { 
        max-width: 145px;
        @include mobile { 
            max-width: 300px;
        }
        @include tablet { 
            max-width: 400px;
        }

    }
    &__title { 
        font-family: 'Product Sans', sans-serif;
        @include fonts(400, 24px, 44px, 0.03em);
        color: var(--text-color);
        margin-bottom: 40px;
        @include tablet { 
          font-size: 36px;
        }
    }
    &__btn-list { 
        display: flex;
        gap: 20px; 
        flex-direction: column; 
        @include tablet { 
            flex-direction: row;
        }
    }
    &__btn { 
      font-size: 15px;
        display: block;
        max-width: 150px;
        padding: 10px 25px;
        line-height: 15px;
    }
}

