.lawyers {
    &__search { 
        @include flex-wrap(flex,wrap,30px); 
        justify-content: center;
        margin-bottom: 30px;
    }
    &__search-field { 
        position: relative;
        flex-basis: 100%; 
        @include tablet { 
            flex-basis: auto;
        }
    }
    &__search-input {
        width: 100%;
        height: 35px; 
        padding-left: 40px;
        @include fonts(400, 14px, 18px, 0.03em);
        color: var(--secondary-text-color);
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #EDEDED;
        border-radius: 17px;
        transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:not(:placeholder-shown) + .lawyers__filter-label { 
            transform: translateY(-45px);
        }
        // &:hover { 
        //     box-shadow: var(--hover-shadow)
        // }
        &:focus{ 
        outline: 1px solid var(--accent-color);
        }

        @include tablet { 
            width: 410px;
        }
      }
    &__search-icon { 
        position: absolute;
        left: 10px;
        top: 50%;
        fill: #C9C9C9;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    // &__filter-label {
    //     position: absolute;
    //     left: 39px;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     @include fonts(400, 16px, 18px, 0.03em);
    //     color: #C9C9C9;
    //     transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    // }
    &__search-btn { 
        flex-basis: 100%;
        height: 35px;
        @include tablet { 
            flex-basis: 190px;
        }
        &:hover { 
            box-shadow: var(--hover-shadow)
        }
    }
    &__card-list {
        @include flex-wrap (flex, wrap, 30px);
        }
    &__card-item {
        flex-basis: 100%;
        background-color: #ffffff;
        box-shadow: 2px 2px 10px 5px rgba(211, 211, 211, 0.2);
        // border: 1px solid #EDEDED;
        border-radius: 7px;
        padding: 20px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            @include tablet {
              flex-basis: calc((100% - 30px) / 2);
            }
            @include desktop {
              flex-basis: calc((100% - 90px) / 4);
            }
            // &:hover,
            // &:focus {
            //     box-shadow: var(--hover-shadow)
            // }
        }
    &__card-link {
        color: var(--secondary-text-color);
    } 
    &__card-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__image-wrapper { 
        position: relative; 
        margin-bottom: 20px;
        width: 170px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: (0px 4px 5px rgba(99, 99, 99, 0.25));
    } 
    &__image-wrapper > img { 
        position: relative;
    }
    &__card-name {
        font-family: 'Product Sans';
        @include fonts(400, 18px, 19px, 0.03em);
        color: var(--text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--link-color);
        }
        // &::after { 
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 1px;
        //     background-color: #D9D9D9;;
        // }
    }
    &__card-specialization { 
        font-size: 14px;
    }
    &__card-practice-area,
    &__card-rating,
    &__card-address,
    &__card-text-about  {
        font-size: 14px;
        line-height: 20px;
        color: #616161;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--link-color);
        }
    } 
    .lawyers__stars-list {
        display: flex;
        gap: 5px;
    }
    .lawyers__stars-icon {
        fill: #FFCF02;
    }
}
